.events {
    width: 30rem;
    height: 100%;
    background-color: var(--bg-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .07);
}

.events__date {
    background-color: var(--primary-color);
    color: var(--font-color-light);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    font-size: 1.6rem;
    font-weight: 500;
    padding: .5rem 0rem .5rem 1rem;
}

.events__event-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.events__event-list__event {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.events__event-list__event__text {
    font-size: 1.6rem;
    font-weight: 400;
}

.events__event-list__event__time {
    font-size: 1.2rem;
    font-weight: 300;
}

.events__close-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--accent-color);
    color: var(--font-color-light);
    width: 3rem;
    height: 3rem;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-out;
}

.events__close-btn:hover {
    transform: scale(1.075);
}