.events {
    width: 50rem;
    height: 40rem;
    background-color: var(--bg-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .07);
    margin-left: 5rem;
}

.events__date {
    background-color: var(--color-grey);
    color: var(--font-color-dark);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .05);
    font-size: 1.6rem;
    font-weight: 500;
    padding: .5rem 0rem .5rem 1rem;
    display: flex;
    align-items: center;
}

.events__event-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.events__event-list__event {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.events__event-list__event__text {
    font-size: 1.6rem;
    font-weight: 400;
}

.events__event-list__event__time {
    font-size: 1.2rem;
    font-weight: 300;
}

.events__add-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--font-color-light);
    width: 3rem;
    height: 3rem;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-out;
}

.events__add-btn:hover {
    transform: scale(1.075);
}

.events__close-btn {
    margin-left: auto;
    margin-right: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
}

/* Event Form Styles */

.event-form {
    width: 50rem;
    height: 40rem;
    background-color: var(--bg-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .07);
    margin-left: 5rem;
}

.event-form__form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.event-form__form label {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#title {
    width: 60%;
    padding: .5rem;
    font-family: var(--font-primary);
}

#description {
    width: 100%;
    padding: .5rem;
    font-family: var(--font-primary);
}

#time {
    width: 8rem;
    font-family: var(--font-primary);
}

.event-form__form__buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.event-form__form__buttons input, .event-form__form__buttons div {
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--font-color-light);
    /*width: 8rem;
    height: 4rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: var(--font-primary);
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    outline: none;
    transition: all .1s ease-out;
}

.event-form__form__buttons input:hover, .event-form__form__buttons div:hover {
    transform: scale(1.02);
}