.calendar {
    background-color: var(--bg-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    width: 43.5rem;
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    justify-content: center;
    border-radius: 1rem;
    z-index: 20;
}

.calendar__month-year {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 1rem 0rem 1rem 1rem;
    margin-bottom: 1rem;
    justify-self: center;
    color: var(--font-color-light);
    background-color: var(--primary-color);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
}

.calendar__month-year__date select {
    border: none;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--font-color-light);
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: capitalize;
    width: 14rem;
    user-select: none;
    outline: none;
    cursor: pointer;
    padding: .25rem;
    border-radius: .5rem;
    transition: all .125s ease-out;
}

.calendar__month-year__date select:hover {
    background-color: rgba(255, 255, 255, .15);
}

.calendar__month-year__date select * {
    background-color: var(--primary-color-light);
}

.calendar__month-year__date {
    font-size: 2.2rem;
    font-weight: 500;
    justify-self: start;
    align-self: center;
}

.calendar__month-year__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.change-month-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .3);
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: 500px;
    font-size: 2rem;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
    transition: all .1s ease-out;
    fill: var(--font-color-light);
}

.change-month-button:hover {
    background-color: var(--primary-color-light);
}

.change-month-button:active {
    background-color: rgba(255, 255, 255, .075);
}

.calendar__days {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    padding: 1rem;
}