@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');
/* Global Styles */

:root {
  --primary-color: #4170f2;
  --primary-color-light: #5d87fc;
  --bg-color: #fafafa;
  --bg-color-dark: rgba(13, 21, 26, 0.78);
  --bg-color-grey: rgb(175, 175, 175);
  --accent-color: #eb4848;
  --font-color-accent: #43e46b;
  --font-color-accent-dark: #272727;
  --font-color-light: rgb(236, 248, 255);
  --font-color-grey: rgb(179, 179, 179);
  --font-color-dark: rgb(12, 12, 12);
  /* Fonts */
  --font-primary: 'Jost', sans-serif;
  /*--font-secondary: 'Playfair Display', serif;*/
  --font-secondary: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.625rem;
}

body {
  font-family: var(--font-primary);
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--font-color-dark);
  overflow-x: hidden;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.38rem;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 0.35rem;
  }
}